<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="blog/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>
<body>
<div id="container">
    <div id="wrap">
        <div th:replace="blog/header::header(${categories},${archives},${tags},${recentlyArticles},${links})"></div>

        <section id="main">


            <section class="archives-wrap">

                <div class="archive-year-wrap">
                    <a th:href="${commons.tagPermalink(param_name)}" class="archive-year" th:text="${param_name}"></a>
                </div>
                <div class="archives">
                    <th:block th:each="article : ${articles_list.list}">
                        <article class="archive-article archive-type-post">
                            <div class="archive-article-inner">
                                <header class="archive-article-header">
                                    <a th:href="${commons.blogPermalink(article.cid)}"
                                       class="archive-article-date">
                                        <time th:datetime="${commons.fmtdate_unxtime(article.created)}" itemprop="datePublished"><th:block th:text="${commons.fmtdate_en(article.created)}"></th:block></time>
                                    </a>


                                    <h1 itemprop="name">
                                        <a class="archive-article-title"
                                           th:href="${commons.blogPermalink(article.cid)}" th:text="${article.title}"></a>
                                    </h1>


                                </header>
                            </div>
                        </article>


                    </th:block>

                </div>

            </section>
            <th:block th:if="${type == 'tag'}">
                <div th:replace="blog/page_nav::page_nav(${articles_list},'blog/tag/' + ${param_name} + '/page')"></div>
            </th:block>
            <th:block th:if="${type == 'categories'}">
                <div th:replace="blog/page_nav::page_nav(${articles_list},'blog/categories/' + ${param_name} + '/page')"></div>
            </th:block>

        </section>
    </div>
    <div th:replace="blog/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>
</div>


<script th:src="@{/blog/js/jquery.min.js}"></script>
<script th:src="@{/blog/js/jquery.scrollLoading.js}"></script>


<link rel="stylesheet" th:href="@{/blog/fancybox/jquery.fancybox.css}">
<script th:src="@{/blog/fancybox/jquery.fancybox.pack.js}"></script>


<script th:src="@{/blog/js/script.js}"></script>

</div>
</body>
</html>