<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page_nav(pageInfo,prefix)">
<nav id="page-nav">
    <th:block th:if="${pageInfo.hasPreviousPage}">
        <a class="extend prev" rel="prev" th:href="@{'/'+${prefix}+'/'+${pageInfo.prePage}}">&laquo; Prev</a>
    </th:block>
    <th:block th:each="navIndex :${ pageInfo.navigatepageNums}">
        <th:block th:if="${pageInfo.pageNum==navIndex}">
            <span class="page-number current" th:text="${navIndex}"></span>
        </th:block>

        <th:block th:unless="${pageInfo.pageNum==navIndex}">
            <a class="page-number" th:href="@{'/'+${prefix}+'/'+${navIndex}}" th:text="${navIndex}"></a>
        </th:block>

    </th:block>
    <th:block th:if="${pageInfo.hasNextPage}">
    <a class="extend next" rel="next" th:href="@{'/'+${prefix}+'/'+${pageInfo.nextPage}}">Next &raquo;</a>
    </th:block>
</nav>

</html>