
// Dark Colors: For the background.

$color-dark-heavy: #2e2a2b;

// Light Colors: For the fonts.

$color-light-light: rgba(255, 255, 255, 0.05);
$color-light-normal: rgba(255, 255, 255, 0.65);
$color-light-heavy: rgba(255, 255, 255, 0.85);

// Green Colors: For the timeline.

$color-green-heavy: #5cd685;

// Breakpoints: For responsive design.

$break-s: "max-width: 580px";
$break-m: "max-width: 768px";
