<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.AttAchDao">

    <sql id="BASE_TABLE">
        t_attach
    </sql>

    <!-- 用户表 -->
    <sql id="TABLE_USER">
        <include refid="cn.luischen.dao.UserDao.BASE_TABLE"/>
    </sql>

    <!-- 附件的基本列 -->
    <sql id="BASE_COLUMN">
        aa.id, aa.fname, aa.ftype, aa.fkey, aa.authorId, aa.created,
    </sql>

    <!-- 关联查询的用户表需要的字段 -->
    <sql id="REL_USER_COLUMN">
        u.username,
    </sql>


    <!-- 新增单个附件 -->
    <insert id="addAttAch" parameterType="cn.luischen.model.AttAchDomain">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            fname, ftype, fkey, authorId, created,
        </trim>
        <trim  prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{fname, jdbcType=VARCHAR}, #{ftype, jdbcType=VARCHAR}, #{fkey, jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()),
        </trim>
    </insert>

    <!-- 批量新增附件 -->
    <insert id="batchAddAttAch" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            fname, ftype, fkey, authorId, created,
        </trim>
        VALUES
        <foreach collection="list" item="AttAchDomain" index="index" separator=",">
            (
              <trim suffix="" suffixOverrides=",">
                  #{fname, jdbcType=VARCHAR}, #{ftype, jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER}, UNIX_TIMESTAMP(NOW()),
              </trim>
            )
        </foreach>
    </insert>

    <!-- 删除附件 -->
    <delete id="deleteAttAch">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE
        id = #{id, jdbcType=INTEGER}
    </delete>

    <!-- 更新附件信息 -->
    <update id="updateAttAch" parameterType="cn.luischen.model.AttAchDomain">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="fname != null">
                fname = #{fname, jdbcType=VARCHAR},
            </if>
            <if test="ftype != null">
                ftype = #{ftype, jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                authorId = #{authorId,jdbcType=INTEGER},
                created = UNIX_TIMESTAMP(NOW()),
            </if>
        </set>
    </update>

    <!-- 根据主键获取附件信息 -->
    <select id="getAttAchById" resultType="cn.luischen.dto.AttAchDto">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"/>
            <include refid="REL_USER_COLUMN"/>
        </trim>
        FROM
        <include refid="BASE_TABLE"/> AS aa
        LEFT JOIN <include refid="TABLE_USER"/> AS u
        ON aa.authorId = u.uid
        WHERE aa.id = #{id, jdbcType=INTEGER}
    </select>

    <!-- 查找所有的附件 -->
    <select id="getAtts" resultType="cn.luischen.dto.AttAchDto">
        SELECT
        <trim suffix="" suffixOverrides=",">
            <include refid="BASE_COLUMN"/>
            <include refid="REL_USER_COLUMN"/>
        </trim>
        FROM
        <include refid="BASE_TABLE"/> AS aa
        LEFT JOIN <include refid="TABLE_USER"/> AS u
        ON aa.authorId = u.uid
        ORDER BY aa.created DESC
    </select>

    <!-- 查找附件的数量 -->
    <select id="getAttsCount" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="BASE_TABLE"/>
    </select>


</mapper>