<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.CommentDao">

    <sql id="BASE_TABLE">
        t_comments
    </sql>

    <!-- 基本列 -->
    <sql id="BASE_COLUMN">
        cm.coid, cm.cid, cm.created, cm.author, cm.authorId, cm.ownerId, cm.mail,
        cm.url, cm.ip, cm.agent, cm.type, cm.status, cm.parent, cm.content
    </sql>

    <!-- 新增评论 -->
    <insert id="addComment" parameterType="cn.luischen.model.CommentDomain">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            cid, created, author, authorId, ownerId, mail,
            url, ip, agent, type, status, parent, content,
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{cid,jdbcType=INTEGER}, #{created, jdbcType=INTEGER},
            #{author, jdbcType=VARCHAR}, #{authorId, jdbcType=INTEGER}, #{ownerId, jdbcType=INTEGER},
            #{mail, jdbcType=VARCHAR}, #{url, jdbcType=VARCHAR}, #{ip, jdbcType=VARCHAR}, #{agent, jdbcType=VARCHAR},
            #{type, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{parent, jdbcType=INTEGER}, #{content, jdbcType=LONGVARCHAR},
        </trim>
    </insert>

    <!-- 删除评论 -->
    <delete id="deleteComment">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE coid = #{coid, jdbcType=INTEGER}
    </delete>

    <!-- 更新评论的状态 -->
    <update id="updateCommentStatus">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET status = #{status, jdbcType=VARCHAR}
        WHERE coid = #{coid, jdbcType=INTEGER}
    </update>

    <select id="getCommentById" resultType="cn.luischen.model.CommentDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/> AS cm
        WHERE cm.coid = #{coid, jdbcType=INTEGER}
    </select>

    <!-- 根据文章的主键获取评论列表:只显示正常的评论 -->
    <select id="getCommentsByCId" resultType="cn.luischen.model.CommentDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/> AS cm
        WHERE cm.cid =  #{cid,jdbcType=INTEGER}
        AND cm.status = 'approved'
        ORDER BY cm.created
    </select>

    <!-- 根据条件查找评论列表 -->
    <select id="getCommentsByCond" resultType="cn.luischen.model.CommentDomain"
            parameterType="cn.luischen.dto.cond.CommentCond">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/> AS cm
        <where>
            <if test="status != null">
                AND cm.status = #{status, jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                AND cm.created &gt;= #{startTime, jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                AND cm.created &lt;= #{endTime, jdbcType=INTEGER}
            </if>
            <if test="parent != null">
                AND cm.parent = #{parent,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY cm.created
    </select>

    <select id="getCommentsCount" resultType="java.lang.Long">
        SELECT count(*)
        FROM
        <include refid="BASE_TABLE"/>
    </select>


</mapper>