<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.OptionDao">

    <sql id="BASE_TABLE">
        t_options
    </sql>

    <!-- 网站配置基本列 -->
    <sql id="BASE_COLUMN">
        o.name, o.value,o.description
    </sql>


    <!-- 删除网站配置 -->
    <delete id="deleteOptionByName">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE name = #{name, jdbcType=VARCHAR},
    </delete>

    <!-- 更新网站配置 -->
    <update id="updateOptionByName">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="value != null">
                value = #{value, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description, jdbcType=VARCHAR},
            </if>
        </set>
        WHERE name = #{name, jdbcType=VARCHAR}
    </update>

    <!-- 根据配置名查找配置信息 -->
    <select id="getOptionByName" resultType="cn.luischen.model.OptionsDomain">
        SELECT
            <include refid="BASE_COLUMN"/>
        FROM <include refid="BASE_TABLE"/> AS o
        WHERE name = #{name, jdbcType=VARCHAR}
    </select>

    <!-- 查找全部配置信息 -->
    <select id="getOptions" resultType="cn.luischen.model.OptionsDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM <include refid="BASE_TABLE"/> AS o
    </select>

</mapper>