<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="home/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>
<body>
<div th:replace="home/header::header"></div>
    <section th:id="about-page" class="animated bounce-in about_bg">
        <div>
            <h1>Hi! </h1>
            <p>My name is Winter, I’m a Java <a href="https://github.com/WinterChenS">Developer</a> with an enduring interest in <a href="https://github.com/WinterChenS">Coding</a>, <a href="http://blog.csdn.net/winter_chen001">Write Blog</a> and Cycling.
                <p>In my free time I enjoy coding, cycling, photography and meeting new people.</p>
                <p>Want to work together on something? Just <a href="mailto:1085143002@qq.com" style="border-bottom: 1px solid #CCC;">Email me</a>. And scan the QR code to add me on WeChat.</p>
                <img src="http://ozlpw4ja9.bkt.clouddn.com/Wechat.jpg" alt="">
                <div class="social">
                    <th:block th:each="index:${commons.social()}">
                        <th:block th:if="${index.value}!=null and ${index.value}!=''">
                            <th:block th:switch="${index.key}">
                                <th:block th:case="'csdn'">
                                    <a class="icon csdn" target="blank"
                                       th:href="@{${index.value}}"></a>
                                </th:block>
                                <th:block th:case="'jianshu'">
                                    <a class="icon jianshu" target="blank"
                                       th:href="@{${index.value}}"></a>
                                </th:block>
                                <th:block th:case="'resume'">
                                    <a class="icon resume" target="blank"
                                       th:href="@{${index.value}}"></a>
                                </th:block>
                                <th:block th:case="'weibo'">
                                    <a class="icon weibo" th:href="@{${index.value}}" target="blank"></a>
                                </th:block>
                                <th:block th:case="'zhihu'">
                                    <a class="icon zhihu" target="blank"
                                       th:href="@{${index.value}}"></a>
                                </th:block>
                                <th:block th:case="'github'">
                                    <a class="icon github" target="blank"
                                       th:href="@{${index.value}}"></a>
                                </th:block>
                                <th:block th:case="'twitter'">
                                    <a class="icon twitter" target="blank"
                                       th:href="@{${index.value}}"></a>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
        </div>
        <div th:replace="home/footer::footer" ></div>
    </section>
    <section id="profile-1">
    </section>
</body>
</html>
