<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="head(title,google_site_verification,baidu_site_verification)">
<head>
    <meta charset="utf-8">
    <title><th:block th:text="${title ?: '首页'}"></th:block></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <meta name="google-site-verification" th:content="${google_site_verification}" />
    <meta name="baidu-site-verification" th:content="${baidu_site_verification}" />
    <link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900}">
    <link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,700}">
    <link rel="stylesheet" type="text/css" th:href="@{/home/assets/styles/site.css?version=1.0}">

    <link rel="shortcut icon" th:href="@{http://ozlpw4ja9.bkt.clouddn.com/favicon.ico}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async th:src="@{https://www.googletagmanager.com/gtag/js?id=UA-77253689-1}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-77253689-1');
    </script>
</head>
</html>